*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}


.dropbtn {
  width: 100px;
  background-color: gray;
  color: white;
  padding:4px 8px;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  /* justify-content: space-around; */
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: start;
  background-color: #f1f1f1;
  min-width: 100px;
  font-size: 14px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: flex;
  width: 100%;
  /* cursor: pointer; */
  border: none;
}


.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: gray;}

select{
  background-color: red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}



.main{
  display: flex;
  align-items: center;
justify-content: space-between ;
padding: 0 30px;
}
.main button{
  padding:5px 10px;
  border-radius: 20px;
  border: none;
  background-color: #1a73e8;
  color: #fff;
  display: flex;
  align-items: center;
  /* padding: 2px; */
  justify-content: space-between;
}

.modalContainer{
  position: fixed;
  top:-25%;
  bottom:0;
  right:0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.modal{
  background-color:gray;
  width: calc(15rem + 15vw);
  height: auto;
}
.modal input{
  width: calc(10rem + 12vw);
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.header{
  position: relative;
  top: 0;
  left: 42%;
}
.header button{
  border-radius: 5px;
  border: none;
  background-color: red;
  color: #fff;
  border-color: red;
}

.footer{
  position: relative;
  bottom: 3%;
  left: 21%;
  padding:0 10px;
}

.footer button{
  margin: 10px;
  padding:5px 15px;
  border-radius: 15px;
  background-color: #1a73e8;
  color: #fff;
  border-color: #1a73e8;
  outline: none;
}

.footer button:first-child{
  color: #1a73e8;
  background-color: #fff;
  border-color: #1a73e8;
}



@media only Screen and (max-width:420px){

  .modalContainer{
    top: -40%;
  }
}




ul{
  list-style: none;
}
li{
 
 
  /* margin: 20px auto; */
  /* column-rule: ; */
  /* align-items: center; */
  /* justify-content:space-around ; */
  /* width: 60vw; */
  /* padding: 10px; */
  display: flex;
  /* grid-template-columns: repeat(5,1fr); */
  align-items:center;
  justify-content:space-between;
  

}
.row{
  width: 60vw;
  display: flex;
  justify-content: space-between;
}
li:nth-child(2n) {
  background-color: gray;
}
li .del{
  background-color:#282c34;
  height: 24px;
}
.row div{
  width: 25%;
  border: 1px solid lightgray;
  text-align: left;
  padding-left: 10px;
}
/* li div{
  width: 25%;
  border: 1px solid red;
  text-align: left;
} */
li div input{
  margin-right: 15px;
}
li div button{
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
}


/* .div-table {
  display: table;         
  width: auto;         
  background-color: #eee;         
  border: 1px solid #666666;         
  border-spacing: 5px;
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
  
}
.div-table-col {
  float: left; 
  display: table-cell;         
  width: 200px;         
  background-color: gray;  
} */